@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import '~tom-select/dist/css/tom-select.min.css';

@layer base {
    html {
        scroll-behavior: smooth;
        @apply bg-background text-dark;
    }
    
    * {
        font-family: Lato, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    h1, h2, h3 {
        @apply font-bold;
    }

    h1 {
        @apply text-h1;
    }
    
    h2 {
        @apply text-h2;
    }

    h3 {
        @apply text-h3;
    }

    a:not(.btn, .unstyled), .link {
        @apply opacity-50 hover:opacity-100 transition-opacity;
    }

    a.active, .link.active {
        @apply opacity-100;
    }

    .container {
        @apply mx-auto px-[16px];
    }

    input, textarea, .ts-control {
        @apply text-label leading-normal outline-none appearance-none px-[16px] py-[12px] rounded-[4px] border border-border;
    }
}

@layer components {
    .btn {
        @apply px-[24px] py-[8px] border-2 rounded-[4px] font-bold transition-all hover:cursor-pointer;
    }

    .btn-primary {
        @apply bg-primary border-primary text-white hover:text-primary hover:bg-white;
    }

    .btn-primary.active {
        @apply text-primary bg-white;
    }
    
    .btn-secondary {
        @apply bg-dark border-dark text-white hover:text-dark hover:bg-white;
    }
    
    .btn-secondary.active {
        @apply text-dark bg-white;
    }
}

@layer utilities {
    [collapse-target] {
        @apply overflow-hidden transition-all;
    }

    .collapsed [collapse-target] {
        @apply max-h-0 p-0 opacity-0;
    }
}
